{%if form%}
<!DOCTYPE html>
<head>
  <title>Zuzee</title>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyCX45s6YqGvK1Dqb14MQzTg58y7mavbqTQ" type="text/javascript"></script>
<script type="text/javascript">
	var geocoder;

	function addAddressToNote(response)
	{
		if (!response || response.Status.code != 200)
		{
			alert("Sorry, we were unable to geocode that address");
		}
		else
		{
			place = response.Placemark[0];
			document.getElementById('id_notes').value = place.address;
		}
	}

  function initialize () {
    if (navigator.geolocation) {
      var timeoutVal = 10 * 1000 * 1000;
      navigator.geolocation.getCurrentPosition(
                              displayPosition,
                              displayError,
                              { enableHighAccuracy: true,
                                timeout: timeoutVal,
                                maximumAge: 0 }
                              );
    } else {
      alert('Geolocation is not supported!')
    }
  }

  function displayPosition(position) {
    document.getElementById('id_latitude').value = position.coords.latitude
    document.getElementById('id_longitude').value = position.coords.longitude
    geocoder = new GClientGeocoder();
    var coord = position.coords.latitude+","+position.coords.longitude;
    geocoder.getLocations(coord, addAddressToNote);
  }

  function displayError(error) {
    var errors = {
      1: 'Permission denied',
      2: 'Position unavailable',
      3: 'Request timeout'
    };
    alert('Error: ' + errors[error.code]);
  }
</script>

</head>
<body onload="initialize()">
<h2>Zuzee</h2>
<form method="POST" action=".">
{%csrf_token%}
{{form.as_p}}
<button type="submit">Submit</submit>
</form>
</body>
</html>
{%else%}{{response|safe}}{%endif%}
